name: Live Tests

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  schedule:
    - cron: "5 5 * * 6"

jobs:

  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-22.04', 'macos-latest' ]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5

    - name: Install dependencies and run test
      run: make live
      env:
        GH_TOKEN: ${{ github.token }}

    - uses: actions/upload-artifact@v5
      with:
        name: report-${{ matrix.os }}
        path: /tmp/WebGoat/statica.html
